    <div class='code'>

     <span class='importantKeyWord'>
     import 
     </span> com.gigamog.cv.*;<br><br>
  <div>
  <span class='importantKeyWord'>public  class </span>
  <span class='parentClass' >{{pageName}}</span> {{"{"}}
  </div>
  
<div class='oneTab'>

  <span><span class='importantKeyWord '>
  private String</span> 
  <span class='userVariables'>
  currentTitle
  </span> = "{{contact.title}}";
  </span>

  <div>
  


  <span class='importantKeyWord'>
  private String
  </span>
  <span class='userVariables'>
   currentGoal 
   </span>= "{{contact.blurb}}";
  </div>


  <div>
  <span class='importantKeyWord'>
  private Integer
  </span>
  <span class='userVariables'>
   yearsExperience 
   </span>= {{contact.yearsExperience}};
  </div>

</div>

  <div>{{"}"}}</div>
  </div>


