  
 
<div class="topPortion">
  <div class='titleBar'><span class='myName'>{{myName}}</span></div>
  <div class='toolBar'>

     <nav>
      <a class='codeTabs' routerLink="/about" routerLinkActive="active">About</a>
      <a class='codeTabs' routerLink="/experience" routerLinkActive="active">Experience</a>
      <a class='codeTabs' routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    </nav>

  </div>
 </div>
 <div class='middlePortion'>
<router-outlet ></router-outlet>
</div>

<my-terminal></my-terminal>
    




